.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  height: 100vh;
  place-items: center;
  background-image: linear-gradient(to right top, #ffffff, #fcfcff, #f8f9ff, #f3f6ff, #eef3ff, #eaf3ff, #e7f4ff, #e3f4ff, #e2f7ff, #e2faff, #e3fdfe, #e5fffd);
}
